* {
padding: 0;
margin: 0;
text-decoration:none;
list-style-type:none;
}
body {
background: #000;
font-size:arial;-webkit-user-select:none;
    -webkit-text-size-adjust:none;
}
p{
color: rgb(247, 11, 11);
font-weight: bold;
font-size: 133.4%;
position: relative;
}
.ui-header img{
margin-left:25%;
width:50%;
}
.ui-content{
background:url(img/bgSombraFlor.png) no-repeat;
height:auto;
background-size: 100% 100%;
}
.ui-header{
box-shadow: 0px 3px 18px 1px #000;
}
.ui-footer{
box-shadow: 0px 6px 30px 9px #000;
}
/* solo en caso de usar menu con letras en la imagen
#menuP :nth-child(2) :nth-child(2){
padding-left: 27px;
}
#menuP :nth-child(3) :nth-child(2){
padding-left: 27px;
}*/
#menuP {
width:98%
}
#menuP img{
width:100%
}
.ui-bar-a{
background-image: url(img/header.png)!important;
background-size: 100%!important;
border:none;
}
.ui-footer{
background-image: url(img/footer.png)!important;
background-size: 100% 100%!important;
border:none;
height: 10%;
}
.headerGuia img{
box-shadow: 0px 6px 28px 7px #000;
width:100%;
}

#wrapper img{
width: 100%;
}
/*
#wrapper {
	width:300px;
	height:160px;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
/*	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
/*	overflow:hidden;
	background:#aaa;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	background:#e3e3e3;
}*/
#wrapper {	
width: 95%;
float: left;
position: absolute;
z-index: 1;
overflow: hidden;
background: #aaa;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
background: #e3e3e3;
margin-top: 12%;
height: 56%;
}
#scroller {
	width:2100px;
	height:100%;
	float:left;
	padding:0;
}
#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}
#scroller li {
	webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
display: block;
float: left;
width: 22%;
text-align: center;
font-family: georgia;
font-size: 18px;
line-height: 140%;
position: relative;
margin-left: 1%;
margin-top: 2%;
}
#nav {
	width:300px;
	float:left;
}
#prev, #next {
	float:left;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:80px;
}
#next {
	float:right;
	text-align:right;
}
#indicator, #indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}
#indicator {
	width:110px;
	padding:12px 0 0 30px;
}
#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#ddd;
	overflow:hidden;
	margin-right:4px;
}
#indicator > li.active {
	background:#888;
}
#indicator > li:last-child {
	margin:0;
}
#productosGuia{
height: 64%;
width: 94%;
overflow: hidden;
position: absolute;
}
#sliderSuper{
width: 100%;
position: relative;
}
#sliderSuper img{
width: 100%;
}